In [21]:
import pandas as pd
import os                       # for testing use only
import numpy as np
from sklearn.model_selection import train_test_split
# --------cross-validation
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
# -------- classification
import sklearn
from sklearn import neighbors, tree, ensemble, naive_bayes, svm
# *** KNN
from sklearn.neighbors import KNeighborsClassifier
# *** Decision Tree; Random Forest
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
# *** Naive Bayes
from sklearn.naive_bayes import GaussianNB
# *** SVM classifier
from sklearn.svm import SVC
# --------  metrics:
from sklearn import metrics
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix
from sklearn.metrics import make_scorer

from sklearn import linear_model, metrics, preprocessing
from sklearn.linear_model import LogisticRegression, LinearRegression
from sklearn.metrics import r2_score, f1_score

from sklearn.preprocessing import StandardScaler, MinMaxScaler

import warnings
warnings.filterwarnings('ignore')

from sklearn.metrics import silhouette_samples, silhouette_score

In [22]:
df=pd.read_csv('Data set after cleaning.csv')
df['Rating count']=df['Rating count'].astype(float)
df['Num of awards']=df['Num of awards'].astype(float)
df['Edition language']=df['Edition language'].astype(float)
df['Reading age']=df['Reading age'].astype(float)
df

,Title,Name of author,Publisher,Genre,Rating,Rating count,Review count,Book cover,Release date,Num of pages,Edition language,Num of other editions,Reading age,Lexile measure,Num of awards,Series,There is a movie
0,0,939,29,58,3.59,112.0,30.0,4,2012.0,76.0,3.0,1.0,7.0,767.979452,0.0,1.0,0
1,1,1318,296,3,4.32,8047.0,155.0,3,1991.0,24.0,3.0,117.0,19.0,845.000000,0.0,0.0,1
2,2,907,344,76,3.63,83871.0,5101.0,8,2010.0,322.0,3.0,39.0,7.0,767.979452,1.0,0.0,0
3,3,222,672,25,3.43,89907.0,3052.0,8,2009.0,269.0,3.0,27.0,19.0,845.000000,0.0,0.0,1
4,4,111,635,58,4.15,283010.0,6682.0,8,2000.0,297.0,3.0,3.0,19.0,845.000000,0.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2077,2058,1011,456,25,3.71,4729.0,557.0,8,1998.0,259.0,12.0,62.0,19.0,845.000000,0.0,0.0,1
2078,2059,1356,528,19,3.97,29.0,3.0,3,2012.0,702.0,16.0,1.0,19.0,845.000000,2.0,0.0,1
2079,2060,995,296,19,4.41,142.0,15.0,3,2012.0,309.0,16.0,6.0,19.0,845.000000,0.0,0.0,1
2080,2061,293,257,52,3.99,13779.0,488.0,8,2007.0,420.0,0.0,82.0,19.0,845.000000,0.0,0.0,1
2081,2062,18,62,25,3.69,19360.0,1625.0,8,2007.0,348.0,0.0,94.0,19.0,845.000000,2.0,1.0,1

In [23]:
dff1=df.copy()
X=dff1[dff1.columns[dff1.columns != 'There is a movie']]
y=dff1['There is a movie']
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, test_size=0.2)

In [24]:
clf_model = LogisticRegression().fit(X_train, y_train)
y_pred=clf_model.predict(X_test)
f1_score(y_test,y_pred)

0.9069212410501194

In [25]:
resDF=pd.DataFrame({"Actual":y_test,"Predicted":y_pred})

resDF["correct"]=abs((resDF["Actual"]^resDF["Predicted"])-1)
resDF[resDF["correct"]==1]
resDF

      Actual  Predicted  correct
1366       1          1        1
807        1          1        1
1514       0          0        1
29         0          0        1
532        1          1        1
...      ...        ...      ...
168        1          1        1
303        1          1        1
986        0          0        1
1999       0          0        1
352        0          0        1

[417 rows x 3 columns]

In [26]:
print("correct:",len(resDF[resDF["correct"]==1]))
print("total:",len(resDF))

print("correct %:",len(resDF[resDF["correct"]==1])/len(resDF))

correct: 378
total: 417
correct %: 0.9064748201438849

In [27]:

clf1 = GaussianNB()
y_pred = clf1.fit(X_train, y_train).predict(X_test)
print(f1_score(y_test,y_pred))

0.9715639810426541

In [28]:
clf2 = SVC()
y_pred = clf2.fit(X_train, y_train).predict(X_test)
print(f1_score(y_test,y_pred))

0.6756756756756758

In [29]:
t={'n_neighbors':[3,5,7,9,11,13,15,17,19,21]}
knn = KNeighborsClassifier()
clf3=GridSearchCV(knn,t,scoring=make_scorer(metrics.f1_score,greater_is_better=True))
clf3.fit(X_train, y_train)
print(clf3.best_score_)

0.6890571803965907

In [30]:
dff2=df.copy()
dff2['Rating count/Review count']=dff1['Rating count']/dff1['Review count']
dff2['Rating count/Num of other editions']=dff1['Rating count']/dff1['Num of other editions']
dff2['Rating count/Lexile measure']=dff1['Rating count']/dff1['Lexile measure']
dff2=dff2.drop(labels=['Lexile measure','Review count'],axis=1)
X=dff2[dff2.columns[dff2.columns != 'There is a movie']]
y=dff2['There is a movie']
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, test_size=0.2)

In [31]:
clf2 = GaussianNB()
y_pred= clf2.fit(X_train, y_train).predict(X_test)
print(f1_score(y_test,y_pred))

0.8872901678657075